body {
    font-family: 'Montserrat';
    overflow-y: scroll;
}

ul li {
    list-style: none;
    text-decoration: none;
}


.section-container {
    background-image: url('./assets/wave_bg.svg');
    height: 50vh;

}

.section-content {
    width: 48%;
    margin: auto;
}

.section-hero {
    width: 820px;
    height: 442px;
    background: url('./assets/section-hero.png');
    border-radius: 15px;
}

.section-2 {
    width: 48%;
    margin: auto;
}

.how-it-works {
    background-image: url('./assets/wave.svg');
}